### YamlMime:PowershellCmdlet
summary: |-
  Use the New-CsOnlineApplicationInstanceAssociation cmdlet to associate either a single or multiple application instances with an application configuration, like auto attendant or call queue.
module: MicrosoftTeamsPowerShell
notes: ""
inputs:
- name: <xref href="None" data-throw-if-not-resolved="False" />
  description: ""
outputs:
- name: <xref href="Microsoft.Rtc.Management.Hosted.Online.Models.AssociationOperationOutput" data-throw-if-not-resolved="False" />
  description: ""
links:
- text: Get-CsOnlineApplicationInstanceAssociation
  href: Get-CsOnlineApplicationInstanceAssociation.yml
- text: Get-CsOnlineApplicationInstanceAssociationStatus
  href: Get-CsOnlineApplicationInstanceAssociationStatus.yml
- text: Remove-CsOnlineApplicationInstanceAssociation
  href: Remove-CsOnlineApplicationInstanceAssociation.yml
syntaxes:
- New-CsOnlineApplicationInstanceAssociation -Identities <String[]> -ConfigurationId <String> -ConfigurationType <Object> [-CallPriority <Int16>] [-Tenant <Guid>] [<CommonParameters>]
examples:
- title: '-------------------------- Example 1 --------------------------'
  code: |-
    $applicationInstanceId = (Get-CsOnlineUser "main_auto_attendant@contoso.com").ObjectId      # 76afc66a-5fe9-4a3d-ab7a-37c0e37b1f19
    $autoAttendantId = (Get-CsAutoAttendant -NameFilter "Main Auto Attendant").Id               # c2ee3e18-b738-5515-a97b-46be52dfc057

    New-CsOnlineApplicationInstanceAssociation -Identities @($applicationInstanceId) -ConfigurationId $autoAttendantId -ConfigurationType AutoAttendant

    Get-CsAutoAttendant -Identity $autoAttendantId

    # Id                       : c2ee3e18-b738-5515-a97b-46be52dfc057
    # TenantId                 : 977c9d5b-2dae-5d82-aada-628bc1c14213
    # Name                     : Main Auto Attendant
    # LanguageId               : en-US
    # VoiceId                  : Female
    # DefaultCallFlow          : Default Call Flow
    # Operator                 :
    # TimeZoneId               : Pacific Standard Time
    # VoiceResponseEnabled     : False
    # CallFlows                :
    # Schedules                :
    # CallHandlingAssociations :
    # Status                   :
    # DialByNameResourceId     :
    # DirectoryLookupScope     :
    # ApplicationInstances     : {76afc66a-5fe9-4a3d-ab7a-37c0e37b1f19}
  description: |-
    This example creates an association between an application instance that we have already created with UPN "main_auto_attendant@contoso.com" whose identity is "76afc66a-5fe9-4a3d-ab7a-37c0e37b1f19", and an auto attendant configuration that we created with display name "Main Auto Attendant" whose identity is "c2ee3e18-b738-5515-a97b-46be52dfc057". Once the association is created, the newly associated application instance would be listed under the `ApplicationInstances` property of the AA.
  summary: ""
- title: '-------------------------- Example 2 --------------------------'
  code: |-
    $applicationInstancesIdentities = (Find-CsOnlineApplicationInstance -SearchQuery "tel:+1206") | Select-Object -Property Id

    # Id
    # --
    # fa2f17ec-ebd5-43f8-81ac-959c245620fa
    # 56421bbe-5649-4208-a60c-24dbeded6f18
    # c7af9c3c-ae40-455d-a37c-aeec771e623d

    $autoAttendantId = (Get-CsAutoAttendant -NameFilter "Main Auto Attendant").Id   # c2ee3e18-b738-5515-a97b-46be52dfc057

    New-CsOnlineApplicationInstanceAssociation -Identities $applicationInstancesIdentities -ConfigurationId $autoAttendantId -ConfigurationType AutoAttendant

    Get-CsAutoAttendant -Identity $autoAttendantId

    # Id                       : c2ee3e18-b738-5515-a97b-46be52dfc057
    # TenantId                 : 977c9d5b-2dae-5d82-aada-628bc1c14213
    # Name                     : Main Auto Attendant
    # LanguageId               : en-US
    # VoiceId                  : Female
    # DefaultCallFlow          : Default Call Flow
    # Operator                 :
    # TimeZoneId               : Pacific Standard Time
    # VoiceResponseEnabled     : False
    # CallFlows                :
    # Schedules                :
    # CallHandlingAssociations :
    # Status                   :
    # DialByNameResourceId     :
    # DirectoryLookupScope     :
    # ApplicationInstances     : {fa2f17ec-ebd5-43f8-81ac-959c245620fa, 56421bbe-5649-4208-a60c-24dbeded6f18, c7af9c3c-ae40-455d-a37c-aeec771e623d}
  description: |-
    This example creates an association between multiple application instances that we had created before and to which we assigned phone numbers starting with "tel:+1206", and an auto attendant configuration that we created with display name "Main Auto Attendant" whose identity is "c2ee3e18-b738-5515-a97b-46be52dfc057". Once the associations are created,  the newly associated application instances would listed under the `ApplicationInstances` property of the AA.
  summary: ""
- title: '-------------------------- Example 3 --------------------------'
  code: |-
    $applicationInstancesIdentities = (Find-CsOnlineApplicationInstance -SearchQuery "Main Auto Attendant") | Select-Object -Property Id

    # Id
    # --
    # fa2f17ec-ebd5-43f8-81ac-959c245620fa
    # 56421bbe-5649-4208-a60c-24dbeded6f18
    # c7af9c3c-ae40-455d-a37c-aeec771e623d

    $autoAttendantId = (Get-CsAutoAttendant -NameFilter "Main Auto Attendant").Id   # c2ee3e18-b738-5515-a97b-46be52dfc057

    New-CsOnlineApplicationInstanceAssociation -Identities $applicationInstancesIdentities -ConfigurationId $autoAttendantId -ConfigurationType AutoAttendant
  description: |-
    This example creates an association between multiple application instances that we had created before with display name starting with "Main Auto Attendant", and an auto attendant configuration that we created with display name "Main Auto Attendant" whose identity is "c2ee3e18-b738-5515-a97b-46be52dfc057".
  summary: ""
parameters:
- type: <xref href="Int16" data-throw-if-not-resolved="False" />
  name: CallPriority --- Private Preview customers only
  description: |+
    The call priority assigned to calls arriving on this application instance if a priority has not already been assigned.

    PARAMVALUE: 1 | 2 | 3 | 4 | 5

    1 = Very High
    2 = High
    3 = Normal / Default
    4 = Low
    5 = Very Low

  defaultValue: "3"
  position: Named
  aliases: ""
  applicable:
  - Microsoft Teams
  parameterValueGroup: ""
- type: <xref href="System.string" data-throw-if-not-resolved="False" />
  name: ConfigurationId
  isRequired: true
  description: |+
    The ConfigurationId parameter is the identity of the configuration that would be associated with the provided application instances.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - Microsoft Teams
  parameterValueGroup: ""
- type: <xref href="System.string" data-throw-if-not-resolved="False" />
  name: ConfigurationType
  isRequired: true
  description: |+
    The ConfigurationType parameter denotes the type of the configuration that would be associated with the provided application instances.

    It can be one of two values:

    - AutoAttendant
    - CallQueue

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - Microsoft Teams
  parameterValueGroup: ""
- type: <xref href="System.String" data-throw-if-not-resolved="False" /><span>[</span><span>]</span>
  name: Identities
  isRequired: true
  description: |+
    The Identities parameter is the identities of application instances to be associated with the provided configuration ID.

  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - Microsoft Teams
  parameterValueGroup: ""
- type: <xref href="System.Guid" data-throw-if-not-resolved="False" />
  name: Tenant
  description: ""
  defaultValue: None
  position: Named
  aliases: ""
  applicable:
  - Microsoft Teams
  parameterValueGroup: ""
applicable:
- Microsoft Teams
uid: MicrosoftTeamsPowerShell.New-CsOnlineApplicationInstanceAssociation
name: New-CsOnlineApplicationInstanceAssociation
description: |-
  The New-CsOnlineApplicationInstanceAssociation cmdlet associates either a single or multiple application instances with an application configuration, like auto attendant or call queue. When an association is created between an application instance and an application configuration, calls reaching that application instance would be handled based on the associated application configuration. For more information on how to create _Application Instances_, check `New-CsOnlineApplicationInstance` cmdlet documentation.

  You can get the Identity of the application instance from the ObjectId of the AD object.
metadata:
  external help file: Microsoft.Rtc.Management.Hosted.dll-help.xml
  online version: https://learn.microsoft.com/powershell/module/teams/new-csonlineapplicationinstanceassociation
  applicable: Microsoft Teams
  title: New-CsOnlineApplicationInstanceAssociation
  schema: 2.0.0
  manager: bulenteg
  author: tomkau
  ms.author: tomkau
  ms.reviewer: williamlooney
